/* Imported  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* General */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* Document code */

body {
  position: relative;
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.desktop-bg {
  display: none;
}

.hero {
  background-image: url(./images/headerTrans.png), url(./images/headerBack.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 95%;
  border-bottom-left-radius: 25% 50px;
  background-size: cover;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12%;
}

.desktop-menu {
  display: none;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
}

.logo {
  text-align: center;
}

.logo a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #6070ff;
}

.banner {
  padding-bottom: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.banner h1 {
  width: 70%;
  font-size: 2.1rem;
  line-height: 52px;
  color: #172b4d;
}

.banner p {
  font-size: 1em;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  margin: 12px 0;
}

.project-img img {
  width: 100%;
}

.framework-icon img,
.lang-icon li img,
.skill-icon li img {
  height: 48px;
  width: 48px;
}

.connect {
  flex-direction: column;
  gap: 20px;
}

.connect h2 {
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: 500;
  color: #7f8cff;
  display: flex;
}

.connect .social-icon img {
  height: 20px;
  width: 14.166671752929688px;
  left: 180px;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icon li {
  list-style-type: none;
  color: #505f79;
}

/* Project Show case Section */

.project-show-case {
  width: 100%;
  margin: 0 24px;
  margin-bottom: 114px;
  margin-top: 87px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 88px;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
  width: 87%;
  background-color: #fff;
  border-radius: 15px;
}

.project-img {
  width: 90%;
  margin: 16px;
  border-radius: 8px;
}

.write-up {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.title {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 44px;
}

.title-detail-tag {
  display: flex;
  align-items: center;
  gap: 32px;
}

.tag-title,
.list-tag-title li {
  color: #344563;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 16px;
}

.list-tag-title {
  display: flex;
  align-items: center;
  gap: 32px;
}

.list-tag-title li {
  color: #7a869a;
}

.project-description {
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  font-size: 0.9rem;
}

.lang-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lang-tag li {
  list-style-type: none;
  font-size: 0.7rem;
  line-height: 16px;
  color: #6070ff;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.see-project .p,
.see-resume .p {
  font-size: 0.9rem;
}

.see-project,
.see-resume {
  height: 45px;
  max-width: 45%;
  padding: 12px;
  color: #396df2;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #7f8cff;
}

/* Project Button links */

/* Hover */
.form-button:hover,
.see-project:hover,
.see-resume:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

/* Pressed */
.form-button:active,
.see-project:active,
.see-resume:active {
  background-color: #2230d2;
}

/* Enabled */
.form-button:visited,
.see-project:visited,
.see-resume:visited {
  border: 1px solid #7f8cff;
  box-sizing: border-box;
  border-radius: 8px;
}

.see-project .p {
  line-height: 24px;
  font-size: 1rem;
}

/* About section */

.about-section {
  background-color: #fff;
  width: 100%;
  padding-top: 114px;
  padding-bottom: 114px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-top-right-radius: 25% 60px;
}

.about-write {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  margin: 0 auto;
}

.about-connect {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-section h2 {
  font-weight: bold;
  font-size: 2.2rem;
  color: #172b4d;
  line-height: 52px;
}

.about-detail {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #344563;
}

.about-connect p {
  color: #7f8cff;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
}

.about-connect .social-icon img {
  height: 16px;
  width: 20px;
}

/* Language */

.languages {
  width: 90%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.select-lang {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-lang p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.javascript,
.framework,
.skill {
  display: grid;
  grid-template-columns: auto;
  gap: 36px;
}

.lang-icon,
.skill-icon,
.framework-icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lang-icon li,
.framework-icon li,
.skill-icon li {
  list-style-type: none;
  width: 95%;
  height: 66.72px;
  background-color: #f7f7f9;
  display: flex;
  align-items: center;
  gap: 16px;
}

.lang-name {
  font-size: 0.9rem;
  font-weight: 500;
  color: #253858;
  line-height: 24px;
}

.framework-icon.hide {
  display: none;
}

.skill-icon.hide {
  display: none;
}

.line.lang {
  display: none;
}

.line {
  height: 1px;
  width: 97%;
  border: 1px solid #dfe1e6;
}

/* Footer */

footer {
  width: 100%;
  background-color: #6070ff;
  border-top-left-radius: 25% 60px;
  padding-bottom: 8px;
  margin-top: -60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trans-background {
  margin-top: 12px;
  height: 867px;
  width: 265px;
  position: absolute;
  top: 0;
  right: -3px;
  border-radius: 0;
  background-image: url(./images/contact-form-Bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.contact-me {
  z-index: 6;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.contact-heading {
  text-align: center;
  margin-top: 103px;
}

.contact-heading h2 {
  color: #fff;
  line-height: 52px;
  font-size: 2.1rem;
  font-weight: bold;
}

.contact-description {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 77px;
  margin-top: 12px;
}

.contact-description p {
  text-align: center;
  color: #ebebff;
  font-weight: 400;
  line-height: 28px;
}

input[type="text"]::placeholder,
input[type="text"]::-ms-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="email"]:-webkit-input-placeholder {
  color: #172b4d;
  opacity: 1;
}

textarea::placeholder,
textarea::-webkit-input-placeholder {
  color: #b3bac5;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
textarea:active,
textarea:focus {
  outline: none;
}

.contact-form ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form ul li {
  list-style-type: none;
}

.contact-form li input {
  border: 1px solid #cfd8dc;
  height: 48px;
  border-radius: 8px;
  width: 100%;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
}

.text-area {
  padding: 15px 38px 15px 16px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #b3bac5;
  line-height: 24px;
  vertical-align: top;
  text-align: left;
}

.contact-form button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #fff;
  color: #6070ff;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  width: 140px;
  height: 48px;
  margin-top: 22px;
  margin-bottom: 45px;
}

.footer-line {
  height: 5px;
  width: 134px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #0d151e;
}

/* Media Query */

/* Mobile Screen less than 300px */

@media screen and (max-width: 300px) {
  .see-project .p {
    font-size: 0.8rem;
  }

  .see-resume .p {
    font-size: 0.75rem;
  }
}

/* Desktop view 992px */

@media screen and (min-width: 992px) {
  .Ham-menu {
    display: none;
  }

  .menu {
    width: 25%;
  }

  .desktop-menu {
    display: block;
    width: 100%;
  }

  .desktop-menu li {
    list-style-type: none;
  }

  .framework-icon li,
  .lang-icon li,
  .skill-icon li {
    padding: 10px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .desktop-menu ul li:hover {
    cursor: pointer;
  }

  .desktop-menu li a {
    text-decoration: none;
    color: #344563;
    font-weight: bolder;
    font-size: 0.9rem;
  }

  .desktop-menu ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
  }

  .hero {
    position: relative;
    background-color: #fff;
    background-image: none;
    height: 83vh;
    border-bottom-left-radius: 25% 100px;
    overflow: hidden;
  }

  .desktop-bg {
    display: block;
    z-index: 1;
    background-image: url(./images/DesktopheaderBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 524px;
    width: 93%;
    margin-top: 90px;
    margin-right: 8px;
    position: absolute;
    overflow: hidden;
  }

  header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 25px 40px;
    background-color: #fff;
  }

  .banner {
    z-index: 2;
    margin-top: 135px;
    width: 70%;
  }

  .project-img img {
    display: none;
  }

  .social-icon li img {
    height: 50px;
    width: 50px;
  }

  .project-img {
    height: 100%;
  }

  .project-show-case {
    width: 95%;
    margin: 0 auto;
    margin-top: -38px;
    margin-bottom: 194px;
    row-gap: 152px;
    grid-template-rows: auto;
  }

  .project-show-case .project-card:nth-child(even) .project-img {
    order: 2;
  }

  .write-up {
    height: 70%;
    margin-top: 37px;
    margin-left: 20px;
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    max-width: 1024px;
    height: calc(100% + 89px);
    padding-bottom: 20px;
  }

  .project-img.one {
    background-image: url(./images/DeskImg1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project-img.two {
    background-image: url(./images/DeskImg2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project-img.three {
    background-image: url(./images/DEskImg3.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project-img.four {
    background-image: url(./images/DeskImg4.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* Effects on hover */
  .project-card:hover {
    cursor: pointer;
    border: 2px solid #a7aeff;
  }

  .project-card:hover .see-project {
    color: #fff;
    background-color: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  /* About Section */
  .about-section {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 103px;
    padding-bottom: 250px;
    border-top-right-radius: 25% 100px;
  }

  .about-connect {
    gap: 24px;
  }

  .about-write {
    width: 40%;
  }

  .languages {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .framework-icon,
  .lang-icon,
  .skill-icon {
    width: 45%;
    flex-direction: row;
  }

  /* Footer */

  footer {
    border-top-left-radius: 25% 100px;
    margin-top: -90px;
  }

  .trans-background {
    margin-top: 79px;
    margin-right: 19px;
    width: 970px;
    height: 540px;
    background-image: url(./images/FooterBg.png);
    z-index: 10;
  }

  .contact-me {
    z-index: 11;
    width: 60%;
    text-align: center;
  }

  .contact-description {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .contact-form {
    width: 70%;
    margin: 0 auto;
  }

  .contact-form li input,
  .text-area {
    border-radius: 2px;
  }

  .contact-form button {
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 45px;
  }
}

/* For higher resolution (desktop) */

@media screen and (min-width: 1024px) {
  .project-img.one,
  .project-img.two,
  .project-img.three,
  .project-img.four {
    height: 95%;
  }

  .banner {
    margin-top: 238px;
    width: 65%;
  }

  .banner p {
    width: 70%;
  }

  header {
    padding-left: 70px;
    padding-right: 70px;
  }

  .about-section {
    padding-right: 110px;
  }
}
