/* Imported  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/headerTrans.png), url(./images/headerBack.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 95%;
  border-bottom-left-radius: 25% 50px;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12%;
}

.desktop-menu {
  display: none;
}

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo {
  text-align: center;
}

.logo a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #6070ff;
}

.banner {
  padding-bottom: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.banner h1 {
  width: 70%;
  font-size: 2.1rem;
  line-height: 52px;
  color: #172b4d;
}

.banner p {
  font-size: 1em;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  margin: 12px 0;
}

.connect {
  flex-direction: column;
  gap: 20px;
}

.connect h2 {
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: 500;
  color: #7f8cff;
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icon li {
  list-style-type: none;
  color: #505f79;
}
